		</main>
	</div>
<!-- end of app-body -->
	<script src="/admin/js/jquery.min.js"></script>
	<script src="/admin/js/jquery-ui.min.js"></script>
	<script src="/admin/js/jquery.maskedinput.min.js"></script>
	<script src="/admin/js/select2.min.js"></script>
	<script src="/admin/js/quill.min.js"></script>
  <script src="/admin/js/popper.min.js"></script>
  <script src="/admin/js/bootstrap.min.js"></script>
	<script src="/admin/js/app.js"></script>
  <script src="/admin/js/custom.js"></script>
</body>
</html>
