<html>
<head>
    <title>paskun.ge</title>
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="main">
    <div class="top">
        <div class="toki1"></div>
        <div class="toki2"></div>
    </div>
    <div class="main_inner">
        <div class="nav">
            <div class="menu_contaner">
                <ul class="menu"><a hraf="">
                        <li class="item">ზღაპრები ცხოვრებაზე</li>
                    </a><a hraf="">
                        <li class="item">ჯადოსნური ზღაპრები</li>
                    </a><a hraf="">
                        <li class="item">თქმულებები და ლეგენდები</li>
                    </a><a hraf="">
                        <li class="item">მითები</li>
                    </a></ul>
                <div class="name" onclick="menu_anumation()">MENU</div>
                <script src="menu.js"></script>
            </div>
            <div class="faskunji_contaner">
                <h2>faskunji</h2>
                <h3></h3>
            </div>
        </div>